{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!Welcome to Lab3 Docker</h1>
    <!-- <h1>Hello, {% if not name %}Stranger! Welcome to Lab3 Docker!{% else %}{{ name }}{% endif %}!</h1> -->

    {% if notutmail %}
        <h1>Please use your UT email.</h1>
    {% else %}
        {% if email %}
            <h1>Your UT email is {{email}}!</h1>
        {%endif%} 
    {%endif%} 
</div>



{{ wtf.quick_form(form) }}
{% endblock %}
